<div class="container">
	<div class="row">
		<h3>Ingrese el archivo csv de codigos fasecolda</h3>
		<form action="/fasecolda/uploadcsv" enctype="multipart/form-data" method="post">
			<div class="col-sm-8">
				<input type="file" class="form-control" name="filefase" multiple="false" ><br>
			</div>
			<button type="submit" class="btn btn-primary">Subir Archivo</button>
		</form>	
	</div>
</div>